slack-alerts-flow.json
[
    {
        "id": "c2f5fc14.35f568",
        "type": "tab",
        "label": "OCP Alert Receiver",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4dd991d1.cb62",
        "type": "http proxy",
        "z": "",
        "name": "Southbank Proxy",
        "url": "http://9.196.148.19:3128",
        "noproxy": []
    },
    {
        "id": "85501198.cd65b",
        "type": "http in",
        "z": "c2f5fc14.35f568",
        "name": "",
        "url": "/ocpalerts",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "8fe3f491.8bec58",
                "3ba5839.d81da7c",
                "62a13fb5.80a1"
            ]
        ]
    },
    {
        "id": "600f2254.ab70c4",
        "type": "http response",
        "z": "c2f5fc14.35f568",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 190,
        "y": 220,
        "wires": []
    },
    {
        "id": "8fe3f491.8bec58",
        "type": "template",
        "z": "c2f5fc14.35f568",
        "name": "ok",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "ok",
        "output": "str",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "600f2254.ab70c4"
            ]
        ]
    },
    {
        "id": "482cd34c.6041cc",
        "type": "http request",
        "z": "c2f5fc14.35f568",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "4dd991d1.cb62",
        "authType": "",
        "x": 830,
        "y": 440,
        "wires": [
            [
                "fde85c39.ad37e"
            ]
        ]
    },
    {
        "id": "fde85c39.ad37e",
        "type": "debug",
        "z": "c2f5fc14.35f568",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 830,
        "y": 480,
        "wires": []
    },
    {
        "id": "efd93698.43c138",
        "type": "change",
        "z": "c2f5fc14.35f568",
        "name": "Example Alert",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"receiver\":\"Critical\",\"status\":\"resolved\",\"alerts\":[{\"status\":\"resolved\",\"labels\":{\"alertname\":\"KubeAPIErrorBudgetBurn\",\"long\":\"6h\",\"prometheus\":\"openshift-monitoring/k8s\",\"severity\":\"critical\",\"short\":\"30m\"},\"annotations\":{\"description\":\"The API server is burning too much error budget.\",\"summary\":\"The API server is burning too much error budget.\"},\"startsAt\":\"2021-02-25T13:45:18.512Z\",\"endsAt\":\"2021-02-25T16:04:48.512Z\",\"generatorURL\":\"https://prometheus-k8s-openshift-monitoring.apps.sbank-sb161.systems.ocp/graph?g0.expr=sum%28apiserver_request%3Aburnrate6h%29+%3E+%286+%2A+0.01%29+and+sum%28apiserver_request%3Aburnrate30m%29+%3E+%286+%2A+0.01%29&g0.tab=1\",\"fingerprint\":\"888c9b5a3c5a1579\"}],\"groupLabels\":{},\"commonLabels\":{\"alertname\":\"KubeAPIErrorBudgetBurn\",\"long\":\"6h\",\"prometheus\":\"openshift-monitoring/k8s\",\"severity\":\"critical\",\"short\":\"30m\"},\"commonAnnotations\":{\"description\":\"The API server is burning too much error budget.\",\"summary\":\"The API server is burning too much error budget.\"},\"externalURL\":\"https://alertmanager-main-openshift-monitoring.apps.sbank-sb161.systems.ocp\",\"version\":\"4\",\"groupKey\":\"{}/{severity=\\\"critical\\\"}:{}\",\"truncatedAlerts\":0}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 300,
        "wires": [
            [
                "3ba5839.d81da7c"
            ]
        ]
    },
    {
        "id": "b7529ac3.4e795",
        "type": "inject",
        "z": "c2f5fc14.35f568",
        "name": "",
        "topic": "Test",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 300,
        "wires": [
            [
                "efd93698.43c138"
            ]
        ]
    },
    {
        "id": "da4fef0.8dd209",
        "type": "function",
        "z": "c2f5fc14.35f568",
        "name": "Formatting",
        "func": "// Start with the status of the message\nmsg.payload.text = \"[\" + msg.payload.status + \"] *\";\n\n// Add the severity\nmsg.payload.text += msg.payload.commonLabels.severity + \": \" ;\n\n// Include the alert name\nif (msg.payload.commonLabels.alertname) {\n    msg.payload.text += msg.payload.commonLabels.alertname + \"*\\n\";\n}\nelse if (msg.payload.alerts[0].labels.alertname) {\n    msg.payload.text += msg.payload.alerts[0].labels.alertname + \"*\\n\";\n}\n\n// Find the full description and append to the message\nif (msg.payload.commonAnnotations.description) {\n    msg.payload.text += msg.payload.commonAnnotations.description + \"\\n<\";\n}\nelse if (msg.payload.commonAnnotations.message) {\n    msg.payload.text += msg.payload.commonAnnotations.message + \"\\n<\";\n}\nelse if (msg.payload.alerts[0].annotations.description) {\n    msg.payload.text += msg.payload.alerts[0].annotations.description + \"\\n<\";\n}\nelse if (msg.payload.alerts[0].annotations.message) {\n    msg.payload.text += msg.payload.alerts[0].annotations.message + \"\\n<\";\n}\nelse if (msg.payload.description) {\n    msg.payload.text += msg.payload.description + \"\\n<\";\n}\nelse if (msg.payload.message) {\n    msg.payload.text += msg.payload.message + \"\\n<\";\n}\n\n// Add the location that the message came from\nmsg.payload.text += msg.payload.externalURL + \">\";\n\n// Set header to JSON\nmsg.headers = 'Content-type: application/json';\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 360,
        "wires": [
            [
                "1277fbc4.07ee8c"
            ]
        ]
    },
    {
        "id": "1277fbc4.07ee8c",
        "type": "change",
        "z": "c2f5fc14.35f568",
        "name": "Headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "'Content-type: application/json'",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "SLACK_URL",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 820,
        "y": 400,
        "wires": [
            [
                "482cd34c.6041cc"
            ]
        ]
    },
    {
        "id": "3ba5839.d81da7c",
        "type": "switch",
        "z": "c2f5fc14.35f568",
        "name": "",
        "property": "payload.commonLabels.alertname",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "KubeAPIErrorBudgetBurn",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "etcdHighCommitDurations",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 550,
        "y": 140,
        "wires": [
            [
                "d0aa3885.23ee28"
            ],
            [
                "d0aa3885.23ee28"
            ],
            [
                "1d1c7f7.fc2c181"
            ]
        ]
    },
    {
        "id": "aa07eb6b.44caf",
        "type": "file",
        "z": "c2f5fc14.35f568",
        "name": "",
        "filename": "alerts.out",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 940,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "62a13fb5.80a1",
        "type": "debug",
        "z": "c2f5fc14.35f568",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 570,
        "y": 100,
        "wires": []
    },
    {
        "id": "ce192678.5a7d5",
        "type": "http in",
        "z": "c2f5fc14.35f568",
        "name": "",
        "url": "/alerts",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 400,
        "wires": [
            [
                "90feb74f.7abff8"
            ]
        ]
    },
    {
        "id": "90feb74f.7abff8",
        "type": "file in",
        "z": "c2f5fc14.35f568",
        "name": "",
        "filename": "alerts.out",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 330,
        "y": 400,
        "wires": [
            [
                "8fa28600.4cb04"
            ]
        ]
    },
    {
        "id": "8fa28600.4cb04",
        "type": "http response",
        "z": "c2f5fc14.35f568",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 490,
        "y": 400,
        "wires": []
    },
    {
        "id": "67adae04.4740a",
        "type": "file",
        "z": "c2f5fc14.35f568",
        "name": "",
        "filename": "alerts.out",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 300,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "d0aa3885.23ee28",
        "type": "json",
        "z": "c2f5fc14.35f568",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 750,
        "y": 180,
        "wires": [
            [
                "aa07eb6b.44caf"
            ]
        ]
    },
    {
        "id": "c96e1dfd.65ea68",
        "type": "inject",
        "z": "c2f5fc14.35f568",
        "name": "Reset Alerts log",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 520,
        "wires": [
            [
                "67adae04.4740a"
            ]
        ]
    },
    {
        "id": "1d1c7f7.fc2c181",
        "type": "switch",
        "z": "c2f5fc14.35f568",
        "name": "",
        "property": "payload.alerts[0].labels.alertname",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "KubeAPIErrorBudgetBurn",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "etcdHighCommitDurations",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 550,
        "y": 220,
        "wires": [
            [
                "d0aa3885.23ee28"
            ],
            [
                "d0aa3885.23ee28"
            ],
            [
                "d0aa3885.23ee28",
                "da4fef0.8dd209"
            ]
        ]
    }
]