slack-alerts-flow.json
[
    {
        "id": "3d86ea73.0682c6",
        "type": "tab",
        "label": "OCP Alert Receiver",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4dd991d1.cb62",
        "type": "http proxy",
        "z": "",
        "name": "Hursley Proxy",
        "url": "http://9.196.118.22:3128",
        "noproxy": []
    },
    {
        "id": "2da55b2d.58e0ac",
        "type": "http in",
        "z": "3d86ea73.0682c6",
        "name": "",
        "url": "/ocpalerts",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "970330a5.1ed4b",
                "7b5e6f3.9315d1",
                "782f5e16.83f98",
                "79b931d0.15bae"
            ]
        ]
    },
    {
        "id": "57c0c99a.e7bc18",
        "type": "http response",
        "z": "3d86ea73.0682c6",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 190,
        "y": 220,
        "wires": []
    },
    {
        "id": "970330a5.1ed4b",
        "type": "template",
        "z": "3d86ea73.0682c6",
        "name": "ok",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "ok",
        "output": "str",
        "x": 190,
        "y": 180,
        "wires": [
            [
                "57c0c99a.e7bc18"
            ]
        ]
    },
    {
        "id": "659bf488.4c05b4",
        "type": "http request",
        "z": "3d86ea73.0682c6",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "4dd991d1.cb62",
        "authType": "",
        "x": 970,
        "y": 380,
        "wires": [
            [
                "a1315e8f.b4635"
            ]
        ]
    },
    {
        "id": "a1315e8f.b4635",
        "type": "debug",
        "z": "3d86ea73.0682c6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 970,
        "y": 420,
        "wires": []
    },
    {
        "id": "78e82162.39f4d8",
        "type": "change",
        "z": "3d86ea73.0682c6",
        "name": "Example Alert",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"receiver\":\"Critical\",\"status\":\"resolved\",\"alerts\":[{\"status\":\"resolved\",\"labels\":{\"alertname\":\"KubeAPIErrorBudgetBurn\",\"long\":\"6h\",\"prometheus\":\"openshift-monitoring/k8s\",\"severity\":\"critical\",\"short\":\"30m\"},\"annotations\":{\"description\":\"The API server is burning too much error budget.\",\"summary\":\"The API server is burning too much error budget.\"},\"startsAt\":\"2021-02-25T13:45:18.512Z\",\"endsAt\":\"2021-02-25T16:04:48.512Z\",\"generatorURL\":\"https://prometheus-k8s-openshift-monitoring.apps.sbank-sb161.systems.ocp/graph?g0.expr=sum%28apiserver_request%3Aburnrate6h%29+%3E+%286+%2A+0.01%29+and+sum%28apiserver_request%3Aburnrate30m%29+%3E+%286+%2A+0.01%29&g0.tab=1\",\"fingerprint\":\"888c9b5a3c5a1579\"}],\"groupLabels\":{},\"commonLabels\":{\"alertname\":\"KubeAPIErrorBudgetBurn\",\"long\":\"6h\",\"prometheus\":\"openshift-monitoring/k8s\",\"severity\":\"critical\",\"short\":\"30m\"},\"commonAnnotations\":{\"description\":\"The API server is burning too much error budget.\",\"summary\":\"The API server is burning too much error budget.\"},\"externalURL\":\"https://alertmanager-main-openshift-monitoring.apps.sbank-sb161.systems.ocp\",\"version\":\"4\",\"groupKey\":\"{}/{severity=\\\"critical\\\"}:{}\",\"truncatedAlerts\":0}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "224dbeb0.bf98c2",
        "type": "inject",
        "z": "3d86ea73.0682c6",
        "name": "",
        "topic": "Test",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 320,
        "wires": [
            [
                "78e82162.39f4d8"
            ]
        ]
    },
    {
        "id": "782f5e16.83f98",
        "type": "function",
        "z": "3d86ea73.0682c6",
        "name": "Formatting",
        "func": "// Start with the status of the message\nmsg.payload.text = \"[\" + msg.payload.status + \"] *\";\n\n// Add the severity\nmsg.payload.text += msg.payload.commonLabels.severity + \": \" ;\n\n// Include the alert name\nif (msg.payload.commonLabels.alertname) {\n    msg.payload.text += msg.payload.commonLabels.alertname + \"*\\n\";\n}\nelse if (msg.payload.alerts[0].labels.alertname) {\n    msg.payload.text += msg.payload.alerts[0].labels.alertname + \"*\\n\";\n}\n\n// Find the full description and append to the message\nif (msg.payload.commonAnnotations.description) {\n    msg.payload.text += msg.payload.commonAnnotations.description + \"\\n<\";\n}\nelse if (msg.payload.commonAnnotations.message) {\n    msg.payload.text += msg.payload.commonAnnotations.message + \"\\n<\";\n}\nelse if (msg.payload.alerts[0].annotations.description) {\n    msg.payload.text += msg.payload.alerts[0].annotations.description + \"\\n<\";\n}\nelse if (msg.payload.alerts[0].annotations.message) {\n    msg.payload.text += msg.payload.alerts[0].annotations.message + \"\\n<\";\n}\nelse if (msg.payload.description) {\n    msg.payload.text += msg.payload.description + \"\\n<\";\n}\nelse if (msg.payload.message) {\n    msg.payload.text += msg.payload.message + \"\\n<\";\n}\n\n// Add the location that the message came from\nmsg.payload.text += msg.payload.externalURL + \">\";\n\n// Set header to JSON\nmsg.headers = 'Content-type: application/json';\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 950,
        "y": 300,
        "wires": [
            [
                "e9d0b82.4be6248"
            ]
        ]
    },
    {
        "id": "e9d0b82.4be6248",
        "type": "change",
        "z": "3d86ea73.0682c6",
        "name": "Headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "'Content-type: application/json'",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "SLACK_URL",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 340,
        "wires": [
            [
                "659bf488.4c05b4"
            ]
        ]
    },
    {
        "id": "98c508f6.5283d",
        "type": "file",
        "z": "3d86ea73.0682c6",
        "name": "",
        "filename": "alerts.out",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1100,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "7b5e6f3.9315d1",
        "type": "debug",
        "z": "3d86ea73.0682c6",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 570,
        "y": 100,
        "wires": []
    },
    {
        "id": "f2298414.259948",
        "type": "http in",
        "z": "3d86ea73.0682c6",
        "name": "",
        "url": "/alerts",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 420,
        "wires": [
            [
                "6fb2fb9c.53ab7c"
            ]
        ]
    },
    {
        "id": "6fb2fb9c.53ab7c",
        "type": "file in",
        "z": "3d86ea73.0682c6",
        "name": "",
        "filename": "alerts.out",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 280,
        "y": 420,
        "wires": [
            [
                "f85fdae2.38d8d8"
            ]
        ]
    },
    {
        "id": "98988b2e.edfc9",
        "type": "http response",
        "z": "3d86ea73.0682c6",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 690,
        "y": 420,
        "wires": []
    },
    {
        "id": "7ef3f140.342f38",
        "type": "file",
        "z": "3d86ea73.0682c6",
        "name": "",
        "filename": "alerts.out",
        "appendNewline": false,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 340,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "79b931d0.15bae",
        "type": "json",
        "z": "3d86ea73.0682c6",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 750,
        "y": 180,
        "wires": [
            [
                "5492cb58.865d84"
            ]
        ]
    },
    {
        "id": "1cd85450.504714",
        "type": "inject",
        "z": "3d86ea73.0682c6",
        "name": "Reset Alerts log",
        "topic": "",
        "payload": "[",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 560,
        "wires": [
            [
                "7ef3f140.342f38"
            ]
        ]
    },
    {
        "id": "f7c4e1a4.a64e9",
        "type": "http response",
        "z": "3d86ea73.0682c6",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 470,
        "y": 460,
        "wires": []
    },
    {
        "id": "96c25fc.beddea",
        "type": "http in",
        "z": "3d86ea73.0682c6",
        "name": "",
        "url": "/healthz",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 460,
        "wires": [
            [
                "40a57283.269fac"
            ]
        ]
    },
    {
        "id": "40a57283.269fac",
        "type": "template",
        "z": "3d86ea73.0682c6",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "ok",
        "output": "str",
        "x": 320,
        "y": 460,
        "wires": [
            [
                "f7c4e1a4.a64e9"
            ]
        ]
    },
    {
        "id": "3e0ed09f.3d3db8",
        "type": "comment",
        "z": "3d86ea73.0682c6",
        "name": "Incoming webhook",
        "info": "",
        "x": 190,
        "y": 100,
        "wires": []
    },
    {
        "id": "3b8cfc34.ef544c",
        "type": "comment",
        "z": "3d86ea73.0682c6",
        "name": "Filter out (\"mute\") non-essential warnings",
        "info": "",
        "x": 660,
        "y": 60,
        "wires": []
    },
    {
        "id": "ae82473b.69a6f8",
        "type": "comment",
        "z": "3d86ea73.0682c6",
        "name": "Pass to Slack endpoint",
        "info": "",
        "x": 980,
        "y": 260,
        "wires": []
    },
    {
        "id": "184ca03e.afd8",
        "type": "comment",
        "z": "3d86ea73.0682c6",
        "name": "Admin endpoints",
        "info": "",
        "x": 160,
        "y": 380,
        "wires": []
    },
    {
        "id": "c9a07e5f.7d331",
        "type": "comment",
        "z": "3d86ea73.0682c6",
        "name": "Reset alert log file",
        "info": "",
        "x": 110,
        "y": 520,
        "wires": []
    },
    {
        "id": "11e87b24.5dab25",
        "type": "comment",
        "z": "3d86ea73.0682c6",
        "name": "Send a test alert",
        "info": "",
        "x": 100,
        "y": 280,
        "wires": []
    },
    {
        "id": "f85fdae2.38d8d8",
        "type": "function",
        "z": "3d86ea73.0682c6",
        "name": "Add closing ]",
        "func": "if (msg.payload.length > 4) {\n    msg.payload = msg.payload.substring(0, msg.payload.length-2)\n}\nmsg.payload = msg.payload  + \"]\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 420,
        "wires": [
            [
                "e8efcb0f.700df"
            ]
        ]
    },
    {
        "id": "5492cb58.865d84",
        "type": "function",
        "z": "3d86ea73.0682c6",
        "name": "Add comma seperator",
        "func": "msg.payload = msg.payload + \",\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 920,
        "y": 180,
        "wires": [
            [
                "98c508f6.5283d"
            ]
        ]
    },
    {
        "id": "e8efcb0f.700df",
        "type": "json",
        "z": "3d86ea73.0682c6",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 570,
        "y": 420,
        "wires": [
            [
                "98988b2e.edfc9"
            ]
        ]
    },
    {
        "id": "b70574f7.9d3d4",
        "type": "inject",
        "z": "3d86ea73.0682c6",
        "name": "Startup create log file",
        "topic": "",
        "payload": "[",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 140,
        "y": 600,
        "wires": [
            [
                "7ef3f140.342f38"
            ]
        ]
    }
]
